<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each productos}}
            <li>{{this.nombre}} - {{this.precio}}</li>
        {{/each}}
    </ul>
</body>
</html>
